<div class="panel panel-default">                    
    <div class="panel-body">
        <div class="col-md-12">
            <div class="col-md-8">
                <h5>{{user._username}} {{user._firstname}} {{user._lastname}}</h5>
            </div>
            <div class="col-md-4">
                <button *ngIf="''+user._isFollowing == 'true'" (click)="follow()" class="btn btn-danger"><i class="fa fa-ban"></i>Unfollow</button>
                <button *ngIf="''+user._isFollowing == 'false'" (click)="follow()" class="btn btn-success"><i class="fa fa-check"></i>Follow</button>
            </div>
            </div>
        </div>
</div>